{% extends './base.html' %}

{% block title %}
    Cliente
{% endblock %}

{% block customCSS %}
<style>
    body {
        background-color: #f8f9fa; /* Cambio de fondo a un tono gris claro */
        font-family: Arial, sans-serif; /* Cambia la fuente si lo deseas */
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    }
    .servicio {
        border: 1px solid #dee2e6; /* Borde más suave */
        border-radius: 15px; /* Bordes más redondeados */
        padding: 20px; /* Espaciado interno aumentado */
        margin-bottom: 30px; /* Aumento del espacio entre las tarjetas */
        display: flex;
        background-color: #fff; /* Fondo blanco para cada servicio */
        box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Sombra suave para efecto de elevación */
        transition: transform 0.3s; /* Transición suave al pasar el mouse */
    }
    .servicio:hover {
        transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
    }
    .imagen {
        flex: 0 100 250px; /* Ancho fijo para la imagen */
        height: 200px;
        margin-right: 20px;
        border-radius: 10px; /* Bordes redondeados para la imagen */
        overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
        overflow: hidden; /* Evita que la imagen sobresalga del contenedor */
        display: flex; /* Cambiar a display flex */
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */

    }
    .imagen img {
        width: 100%; /* Imagen ocupa todo el ancho del contenedor */
        height: auto; /* Mantiene la proporción de aspecto */
    }
    .informacion {
        flex: 1;
    }
    .boton {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px; /* Espaciado interno del botón */
        text-decoration: none;
        display: inline-block; /* Para que el botón se ajuste al contenido */
        margin-top: 10px; /* Espacio entre el contenido y el botón */
        transition: background-color 0.3s; /* Transición suave al pasar el mouse */
    }
    .boton:hover {
        background-color: #0056b3; /* Cambio de color al pasar el mouse */
    }
</style>
{% endblock %}

{% block body %}
    <h1 class="text-center">Servicios</h1>
    <div class="container">
        {% for servicio in servicios %}
            <div class="servicio">
                <div class="imagen">
                    <img src="{{ servicio[5] }}" alt="{{ servicio[1] }}">
                </div>
                <div class="informacion">
                    <h2>{{ servicio[1] }}</h2>
                    <p>Precio: ${{ servicio[2] }}</p>
                    <p>Duración: {{ servicio[3] }}</p>
                    <p>Descripción: {{ servicio[4] }}</p>
                    <a href="{{ url_for('start_factura', codServicio=servicio[0]) }}" class="boton">Ver Detalles</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}