{% extends './base.html' %}
{% block title %}Login{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2 class="fs-5">Bienvenido, Jefe</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col text-center">
            <p class="fs-5">Inicia como:</p>
            <div class="d-grid gap-2">
                <a href="#" class="btn btn-outline-primary btn-sm fs-5">Cliente</a>
                <a href="{{url_for('panelAdmin')}}" class="btn btn-outline-primary btn-sm fs-5">Admin</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
