{% extends './base.html' %}
{%block title%}Panel Admin{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static',filename='css/panelAdmin.css')}}">
{% endblock %}
{% block body %}
<div>
    <h1>Admin</h1>
</div>
<div class="container">
    <div class="dashboard">
        <a href="{{url_for('readMaquina')}}" class="btn btn-primary dashboard-button">
            <img src="..\static\images\maquinaria.png" alt="Máquinas">
            <div>MÁQUINAS</div>
        </a> 
        <a href="{{url_for('readUtensilio')}}" class="btn btn-primary dashboard-button">
            <img src="..\static\images\detergente.png" alt="Utensilios">
            <div>UTENSILIOS</div>
        </a> 
        <a href="{{url_for('readServicio')}}" class="btn btn-primary dashboard-button">
            <img src="..\static\images\soporte-tecnico.png" alt="Servicios">
            <div>SERVICIOS</div>
        </a> 
        <a href="{{url_for('readAuto')}}" class="btn btn-primary dashboard-button">
            <img src="..\static\images\coche.png" alt="Autos">
            <div>AUTOS</div>
        </a>
        <a href="{{url_for('logout')}}" class="btn btn-danger dashboard-button">
            <img src="..\static\images\cerrar-sesion.png" alt="Cerrar sesión">
            <div>LOGOUT</div>
        </a> 
    </div>
</div>
{% endblock %}