
{% extends './base.html' %}
{%block title%}Formulario Representante{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static',filename='css/formulario.css')}}">
{% endblock %}
{% block body %}
<div class="container mt-5">
    <form id="maquinaForm" action="/readMaquina/formMaquin" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre de la Máquina</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre de la máquina" required>
        </div>

        <div class="mb-3">
            <label for="marca" class="form-label">Marca</label>
            <input type="text" class="form-control" id="marca" name="marca" placeholder="Ingrese la marca de la máquina" required>
        </div>

        <div class="mb-3">
            <label for="funcion" class="form-label">Función</label>
            <input type="text" class="form-control" id="funcion" name="funcion" placeholder="Ingrese la función de la máquina" required>
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese el precio de la máquina" required>
        </div>

        <div class="mb-3 form-check">
            <input type="hidden" name="estaOperativa" value="0"> <
            <input type="checkbox" class="form-check-input" id="estaOperativaCheckbox" name="estaOperativa" onchange="toggleCheckboxValue()">
            <label class="form-check-label" for="estaOperativa">¿Está operativa?</label>
        </div>
        <div class="mb-3">
            <label for="codProveedor" class="form-label">Código de Proveedor</label>
            <input type="number" class="form-control" id="codProveedor" name="codProveedor" placeholder="Ingrese el código del proveedor" required>
        </div>
        <div class="mb-3">
            <label for="codLugar" class="form-label">Código de Lugar</label>
            <input type="number" class="form-control" id="codLugar" name="codLugar" placeholder="Ingrese el código del Lugar" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="mb-3">
            <button onclick="goBack()" class="btn btn-secondary">Atrás</button>

        </div>


    </form>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    function toggleCheckboxValue() {
        var checkbox = document.getElementById("estaOperativaCheckbox");
        var hiddenInput = document.querySelector('input[name="estaOperativa"]');
        
        if (checkbox.checked) {
            hiddenInput.value = 1;
        } else {
            hiddenInput.value = 0; 
        }
    }
</script>
<script>
    function goBack() {
      window.history.back();
    }
</script>
{% endblock%}