{% extends './base.html' %}
{% block title %}Formulario Utensilio{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static',filename='css/formulario.css')}}">
{% endblock %}
{% block body %}
<div class="container mt-5">
    <form id="utensilioForm" action="/readUtensilio/modUtensilio/{{ data.codUtensilio }}" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre del Utensilio</label>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del utensilio" value="{{ data.nombre }}" required>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese la descripción del utensilio" value="{{ data.descripcion }}" required>
        </div>

        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese el precio del utensilio" value="{{ data.precio }}" required>
        </div>

        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" name="cantidad" placeholder="Ingrese la cantidad disponible" value="{{ data.cantidad }}" required>
        </div>

        <div class="mb-3">
            <label for="unidad" class="form-label">Unidad</label>
            <input type="text" class="form-control" id="unidad" name="unidad" placeholder="Ingrese la unidad de medida" value="{{ data.unidad }}" required>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="mb-3">
            <button onclick="goBack()" class="btn btn-secondary">Atrás</button>
        </div>
    </form>
</div>
{% endblock %}
