{% extends './base.html' %}
{% block title %}Formulario Cliente{% endblock %}
{% block customCSS %}
  <!-- Agrega el enlace al archivo CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{url_for('static',filename='css/formulario.css')}}">
  <style>
    /* Estilo personalizado para las opciones del campo de selección */
    #marca option {
        font-weight: normal; /* Establece el peso de la fuente a normal */
        background-color: #fff; /* Establece el color de fondo de las opciones */
        color: #333; /* Establece el color del texto de las opciones */
    }

    /* Estilo personalizado para la opción seleccionada */
    #marca option:checked {
        font-weight: bold; /* Establece el peso de la fuente a negrita para la opción seleccionada */
        background-color: #f0f0f0; /* Establece un color de fondo diferente para la opción seleccionada */
        color: #000; /* Establece el color del texto de la opción seleccionada */
    }
</style>
{% endblock %}
{% block body %}
  <div class="container mt-5">
    <form action="{{url_for('start_cliente_auto_register_auto')}}" method="post" class="needs-validation" novalidate autocomplete="off">
      <div class="mb-3">
        <label for="codCliente" class="form-label">Ingrese los datos para registrar el auto:</label>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-primary alert-dismissible" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
     
      <div class="mb-3">
        <label for="placa" class="form-label">Placa</label>
        <input type="text" class="form-control" id="placa" name="placa" placeholder="XX0X101" required pattern="[A-Z0-9]{7}" title="Por favor, introduce una placa válida en el formato XX0X101 (8 caracteres, solo letras mayúsculas y números)">
        <div class="invalid-feedback">Por favor, introduce una placa válida en el formato XX0X101 (7 caracteres, solo letras mayúsculas y números).</div>
    </div>
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <input type="text" class="form-control" id="tipo" name="tipo" pattern="[A-Za-záéíóúüñÑ\s]+" required autocomplete="off">
        <div class="invalid-feedback">Por favor, introduce un tipo de automóvil válido.</div>
      </div>        
      <div class="mb-3">
        <label for="volumen" class="form-label">Volumen</label>
        <input type="text" class="form-control" id="volumen" name="volumen" pattern="[0-9]+" required autocomplete="off">
        <div class="invalid-feedback">Por favor, introduce un volumen válido (solo números).</div>
      </div>    
      <div class="mb-3">
        <label for="color" class="form-label">Color</label>
        <input type="text" class="form-control" id="color" name="color" pattern="[A-Za-záéíóúüñÑ\s]+" required autocomplete="off">
        <div class="invalid-feedback">Por favor, introduce un color válido (solo letras).</div>
      </div>     
      <div class="mb-3">
        <label for="marca" class="form-label">Marca</label>
        <select class="form-select" id="marca" name="marca" required>
            <option value="">Selecciona una marca</option>
            <option value="Toyota">Toyota</option>
            <option value="Honda">Honda</option>
            <option value="Ford">Ford</option>
            <option value="Chevrolet">Chevrolet</option>
            <option value="Nissan">Nissan</option>
            <option value="BMW">BMW</option>
            <option value="Mercedes-Benz">Mercedes-Benz</option>
            <option value="Audi">Audi</option>
            <option value="Volkswagen">Volkswagen</option>
            <option value="Hyundai">Hyundai</option>
            <option value="Kia">Kia</option>
            <option value="Mazda">Mazda</option>
            <option value="Subaru">Subaru</option>
            <option value="Lexus">Lexus</option>
            <option value="Volvo">Volvo</option>
            <option value="Porsche">Porsche</option>
            <option value="Ferrari">Ferrari</option>
            <option value="Jaguar">Jaguar</option>
            <!-- Puedes agregar más marcas aquí -->
        </select>
        <div class="invalid-feedback">Por favor, selecciona una marca válida.</div>
    </div>    
      <div class="mb-3">
        <label for="modelo" class="form-label">Modelo</label>
        <input type="text" class="form-control" id="modelo" name="modelo" required autocomplete="off">
        <div class="invalid-feedback">Por favor, introduce un modelo válido.</div>
      </div>        
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <br><br>
        <a href="{{ url_for('start_client')}}" class="btn btn-secondary">Regresar</a>
        <br><br>
        <a href="{{ url_for('start_client_auto_view') }}" class="btn btn-secondary">Ver Autos</a>
      </div>
    </form>
  </div>
{% endblock %}
{% block script %}
  <!-- Agrega el enlace al archivo JS de Bootstrap (opcional, solo si necesitas funcionalidades de JavaScript de Bootstrap) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
  <script>
    // Evita enviar el formulario si hay campos inválidos
    (function() {
      'use strict';
      var forms = document.querySelectorAll('.needs-validation');
      Array.prototype.slice.call(forms)
        .forEach(function(form) {
          form.addEventListener('submit', function(event) {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
    })();
  </script>
{% endblock %}
